@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/
.light {
  --text: #16161d;
  --fond: #fcfaf9;
}
.light * {
  mix-blend-mode: normal !important;
}
.light .moving_shape {
  opacity: 0.1;
}
.light .no_light {
  display: none;
}

.dark {
  --text: #fcfaf9;
  --fond: #16161d;
}
.dark .no_dark {
  display: none;
}

.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--fond);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: crosshair;
}
@media all and (min-width: 2000px) {
  .body {
    width: 1800px;
  }
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: var(--text);
  color: var(--fond);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1900000;
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 0px;
  font-size: 6vw;
}
.loader span {
  font-size: 3em;
}

* {
  outline: none;
  scroll-behavior: smooth;
}

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
          box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a :hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 0;
  z-index: 999;
  mix-blend-mode: difference;
}
@media all and (max-width: 1000px) {
  .header {
    top: 10px;
  }
}
.header .struct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
.header .struct .logo {
  display: inline-block;
  height: 38px;
}
@media all and (max-width: 1000px) {
  .header .struct .logo {
    height: 30px;
  }
}
.header .struct .logo img {
  height: 100%;
}
.header .struct nav {
  display: block;
}
@media all and (max-width: 1000px) {
  .header .struct nav {
    display: none;
  }
}
.header .struct nav ul {
  list-style-type: none;
}
.header .struct nav ul li {
  display: inline-block;
  margin-left: 20px;
  font-size: 1.1em;
}
.header .struct nav ul li:hover {
  cursor: pointer;
}

.banderol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15em;
  height: 100vh;
  background: var(--text);
  mix-blend-mode: difference;
  position: absolute;
  top: 0px;
  right: 20%;
  color: var(--fond);
  overflow: hidden;
}
@media all and (max-width: 1696px) {
  .banderol {
    width: 7.5em;
    right: 17%;
  }
}
@media all and (max-width: 1590px) {
  .banderol {
    display: none;
    visibility: hidden;
  }
}
.banderol .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  white-space: nowrap;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  height: auto;
}
.banderol .text span {
  display: inline-block;
  margin-top: 50px;
}
.banderol .text1 {
  font-size: 8em;
  line-height: 1em;
  font-weight: 900;
  -webkit-animation: swipeUp 13s linear infinite;
          animation: swipeUp 13s linear infinite;
  text-transform: uppercase;
  left: 7%;
}
@media all and (max-width: 1696px) {
  .banderol .text1 {
    font-size: 4em;
    line-height: 0.9em;
  }
}
.banderol .text2 {
  font-size: 4em;
  line-height: 1em;
  font-weight: 100;
  -webkit-animation: swipeDown 17s linear infinite;
          animation: swipeDown 17s linear infinite;
  right: 10%;
}
@media all and (max-width: 1696px) {
  .banderol .text2 {
    font-size: 2em;
    line-height: 1.1em;
    font-weight: 300;
    letter-spacing: 13px;
  }
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.carousel .struct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90%;
  height: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
}
@media all and (max-width: 1590px) {
  .carousel .struct {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.carousel .struct .carousel_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
  mix-blend-mode: difference;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media all and (max-width: 1696px) {
  .carousel .struct .carousel_intro {
    width: 45%;
  }
}
@media all and (max-width: 1590px) {
  .carousel .struct .carousel_intro {
    width: 100%;
  }
}
@media all and (max-width: 1590px) {
  .carousel .struct .carousel_intro {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.carousel .struct .carousel_intro .text_big {
  font-family: "Poppins";
  font-weight: 200;
  text-transform: capitalize;
  font-size: 4em;
  letter-spacing: 0em;
  text-align: right;
  color: var(--text);
}
@media all and (max-width: 1784px) {
  .carousel .struct .carousel_intro .text_big {
    font-size: 3.5em;
    text-align: left;
  }
}
@media all and (max-width: 1590px) {
  .carousel .struct .carousel_intro .text_big {
    text-align: center;
    width: 100%;
    font-size: 4.5em;
  }
}
@media all and (max-width: 1274px) {
  .carousel .struct .carousel_intro .text_big {
    font-size: 3.5em;
  }
}
@media all and (max-width: 1000px) {
  .carousel .struct .carousel_intro .text_big {
    font-size: 3em;
  }
}
@media all and (max-width: 758px) {
  .carousel .struct .carousel_intro .text_big {
    margin-bottom: 200px;
  }
}
@media all and (max-width: 543px) {
  .carousel .struct .carousel_intro .text_big {
    font-size: 2.3em;
  }
}
@media all and (max-width: 411px) {
  .carousel .struct .carousel_intro .text_big {
    font-size: 2em;
  }
}
@media all and (max-width: 360px) {
  .carousel .struct .carousel_intro .text_big {
    font-size: 1.7em;
  }
}
.carousel .struct .carousel_intro .carousel_intro_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
  text-align: left;
}
@media all and (max-width: 758px) {
  .carousel .struct .carousel_intro .carousel_intro_desc {
    display: none;
  }
}
.carousel .struct .carousel_intro .carousel_intro_desc .text {
  width: 285px;
  margin-bottom: 8px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.3em;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text);
}
.carousel .struct .carousel_image {
  display: block;
  width: 25%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
@media all and (max-width: 1696px) {
  .carousel .struct .carousel_image {
    width: 33%;
  }
}
@media all and (max-width: 1590px) {
  .carousel .struct .carousel_image {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 25%;
  }
}
@media all and (max-width: 1274px) {
  .carousel .struct .carousel_image {
    width: 300px;
  }
}
@media all and (max-width: 427px) {
  .carousel .struct .carousel_image {
    width: 80%;
  }
}
.carousel .struct .carousel_image img {
  width: 100%;
}
.carousel .struct .bar_outils {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  mix-blend-mode: difference;
}
.carousel .struct .bar_outils .socials_icons {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 1968px) {
  .carousel .struct .bar_outils .socials_icons {
    width: 180px;
  }
}
@media all and (max-width: 1590px) {
  .carousel .struct .bar_outils .socials_icons {
    width: 150px;
  }
}
@media all and (max-width: 758px) {
  .carousel .struct .bar_outils .socials_icons {
    width: 100px;
  }
}
.carousel .struct .bar_outils .socials_icons .icon {
  cursor: pointer;
  width: 20%;
  -webkit-filter: drop-shadow(0 0mm 0mm var(--text));
          filter: drop-shadow(0 0mm 0mm var(--text));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media all and (max-width: 1968px) {
  .carousel .struct .bar_outils .socials_icons .icon {
    width: 40px;
  }
}
@media all and (max-width: 1590px) {
  .carousel .struct .bar_outils .socials_icons .icon {
    width: 35px;
  }
}
@media all and (max-width: 758px) {
  .carousel .struct .bar_outils .socials_icons .icon {
    width: 25px;
  }
}
.carousel .struct .bar_outils .socials_icons .icon:hover {
  -webkit-filter: drop-shadow(0 4mm 2mm var(--text));
          filter: drop-shadow(0 4mm 2mm var(--text));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.carousel .struct .bar_outils .socials_icons .icon img {
  width: 90%;
}

.flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes swipe {
  0%, 100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-55px, 55px);
            transform: translate(-55px, 55px);
  }
}

@keyframes swipe {
  0%, 100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-55px, 55px);
            transform: translate(-55px, 55px);
  }
}
@-webkit-keyframes swipeUp {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes swipeUp {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@-webkit-keyframes swipeDown {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes swipeDown {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1.1em;
}
.btn .txt {
  font-size: 0.8em;
  height: 35px;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--text);
  border-radius: 44px;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 1000px) {
  .btn .txt {
    font-size: 0.6em;
    height: 30px;
  }
}
.btn .btn_ic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid var(--text);
  color: var(--fond);
  margin-left: 5px;
  overflow: hidden;
}
@media all and (max-width: 1000px) {
  .btn .btn_ic {
    height: 30px;
    width: 30px;
  }
}
.btn .btn_ic img {
  height: 15px;
}
@media all and (max-width: 1000px) {
  .btn .btn_ic img {
    height: 12px;
  }
}
.btn:hover img {
  -webkit-animation: swipe 0.38s ease 1;
          animation: swipe 0.38s ease 1;
}

.toggle_theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79px;
  height: 47px;
  border-radius: 15px;
  background: var(--text);
}
.toggle_theme:hover {
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  .toggle_theme {
    height: 37px;
    width: 70px;
  }
}
@media all and (max-width: 758px) {
  .toggle_theme {
    height: 34px;
  }
}
.toggle_theme__struct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 86%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89%;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  border-radius: 14px;
  background: var(--fond);
}
.toggle_theme__struct .theme_btn {
  height: 85%;
  width: 40%;
  border-radius: 10px;
  background: var(--fond);
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media all and (max-width: 758px) {
  .toggle_theme__struct .theme_btn {
    font-size: 0.75em;
  }
}
.toggle_theme__struct .theme_btn img {
  width: 50%;
}
.toggle_theme__struct .active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50%;
  background: var(--text);
  color: var(--fond);
}
.toggle_theme__struct .active img {
  width: 60%;
}

.moving_shape {
  position: absolute;
  width: 50vw;
  height: 80vh;
  opacity: 1;
  border: 0px solid rgba(255, 255, 255, 0.808);
  background-color: var(--text);
  background-repeat: repeat;
  background-size: auto auto;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-animation: bg-move 30s ease infinite forwards, border-move 25s ease infinite forwards;
          animation: bg-move 30s ease infinite forwards, border-move 25s ease infinite forwards;
}

@-webkit-keyframes bg-move {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

@keyframes bg-move {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@-webkit-keyframes border-move {
  0% {
    border-radius: 51% 49% 34% 66%/39% 66% 34% 61%;
  }
  10% {
    border-radius: 39% 61% 38% 62%/53% 54% 46% 47%;
  }
  20% {
    border-radius: 56% 44% 52% 48%/57% 35% 65% 43%;
  }
  30% {
    border-radius: 41% 59% 45% 55%/33% 56% 44% 67%;
  }
  40% {
    border-radius: 46% 54% 60% 40%/55% 74% 26% 45%;
  }
  50% {
    border-radius: 44% 56% 22% 78%/31% 74% 26% 69%;
  }
  60% {
    border-radius: 31% 69% 32% 68%/31% 71% 29% 69%;
  }
  70% {
    border-radius: 44% 56% 60% 40%/63% 36% 64% 37%;
  }
  80% {
    border-radius: 46% 54% 38% 62%/44% 48% 52% 56%;
  }
  90% {
    border-radius: 66% 34% 57% 43%/49% 51% 49% 51%;
  }
  100% {
    border-radius: 51% 49% 34% 66%/39% 66% 34% 61%;
  }
}
@keyframes border-move {
  0% {
    border-radius: 51% 49% 34% 66%/39% 66% 34% 61%;
  }
  10% {
    border-radius: 39% 61% 38% 62%/53% 54% 46% 47%;
  }
  20% {
    border-radius: 56% 44% 52% 48%/57% 35% 65% 43%;
  }
  30% {
    border-radius: 41% 59% 45% 55%/33% 56% 44% 67%;
  }
  40% {
    border-radius: 46% 54% 60% 40%/55% 74% 26% 45%;
  }
  50% {
    border-radius: 44% 56% 22% 78%/31% 74% 26% 69%;
  }
  60% {
    border-radius: 31% 69% 32% 68%/31% 71% 29% 69%;
  }
  70% {
    border-radius: 44% 56% 60% 40%/63% 36% 64% 37%;
  }
  80% {
    border-radius: 46% 54% 38% 62%/44% 48% 52% 56%;
  }
  90% {
    border-radius: 66% 34% 57% 43%/49% 51% 49% 51%;
  }
  100% {
    border-radius: 51% 49% 34% 66%/39% 66% 34% 61%;
  }
}
/* ------------------------- Grain -------------------------------------------------- */
.noise {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  position: fixed;
  pointer-events: none;
}

.noise:before {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 2000;
  content: "";
  position: absolute;
  pointer-events: none;
  background-position: 50%;
  background-image: url("../images/noise.png");
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}

@media all and (max-width: 700px) {
  .noise {
    display: none !important;
  }
}
@-webkit-keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
.lottie_bird {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-115%);
          transform: translateX(-50%) translateY(-115%);
  width: 20%;
  height: auto;
  z-index: 500000;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  mix-blend-mode: difference;
}
@media all and (max-width: 775px) {
  .lottie_bird {
    width: 40%;
  }
}
@media all and (max-width: 500px) {
  .lottie_bird {
    width: 55%;
  }
}

.bird_back {
  -webkit-transform: translateX(-50%) translateY(-115%) scaleX(-1);
          transform: translateX(-50%) translateY(-115%) scaleX(-1);
}