.light {
  --text: #16161d;
  --text_rgb: 22, 22, 29;
  --fond: #fcfaf9;
  --fond_rgb: 252, 250, 249;

  * {
    mix-blend-mode: normal !important;
  }
  div {
    mix-blend-mode: normal !important;
  }
  img {
    mix-blend-mode: normal !important;
  }

  .moving_shape {
    opacity: 0.1;
  }

  .no_light {
    display: none;
  }
}

.dark {
  --text: #fcfaf9;
  --text_rgb: 252, 250, 249;
  --fond: #16161d;
  --fond_rgb: 22, 22, 29;
  .no_dark {
    display: none;
  }
}

$struct: 90%;

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 0px;

  @media all and (max-width: 503px) {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  &__struct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $struct;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      @media all and (max-width: 1074px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .left {
      }

      .experience {
        display: block;
        .t1 {
          font-family: "Bricolage Grotesque";
          font-weight: 600;
          font-size: 112px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--text);
          @media all and (max-width: 1417px) {
            font-size: 3.5em;
          }
          @media all and (max-width: 545px) {
            font-size: 3em;
          }
        }

        .t2 {
          font-family: Roboto;
          font-weight: 300;
          font-size: 49px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--text);
          @media all and (max-width: 545px) {
            font-size: 2.5em;
          }
        }
      }

      .right {
        text-align: left;
        width: 40%;

        @media all and (max-width: 1074px) {
          margin-top: 50px;
          width: 100%;
        }

        @media all and (max-width: 545px) {
          margin-top: 30px;
        }
      }

      .experience_text {
        font-family: "Bricolage Grotesque";
        font-weight: 600;
        font-size: 80px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text);

        @media all and (max-width: 1417px) {
          font-size: 3.5em;
        }

        @media all and (max-width: 545px) {
          font-size: 2.5em;
        }

        .btn {
          display: inline-flex;
          font-size: initial;
          transform: translateY(-30%);
          margin-top: 20px;
          .btn_ic {
            display: inline-flex;
          }
        }
      }
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 50px;

      @media all and (max-width: 503px) {
        margin-top: 50px;
      }

      .project {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 32%;
        height: 550px;
        background-size: cover;
        // background-size: 200%;
        background-origin: content-box;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 30px;
        filter: saturate(100%);
        @media all and (max-width: 1417px) {
          width: 48%;
        }

        @media all and (max-width: 952px) {
          width: 100%;
          height: auto;
        }

        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        .project_struct {
          height: 95%;
          width: 95%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          align-content: space-between;

         
          transition: 0.3s;
          opacity: 1;

          @media all and (max-width: 952px) {
            padding-top: 20px;
            padding-bottom: 20px;
          }

          @media all and (max-width: 503px) {
            padding-top: 10px;
            padding-bottom: 10px;
          }

          .desc {
            width: calc(100%);
            height: 88%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            transform: translateY(0%);
            transition: 0.3s;
            border-radius: 12px;
            // background: transparent;
            /* Note: currently only Safari supports backdrop-filter */
            // backdrop-filter: blur(8px);
            // --webkit-backdrop-filter: blur(8px);

            background: #{"rgba(var(--fond_rgb), 1)"};
            /* (plus shape's fill blended on top as a separate layer with 61% opacity) */

            .des_struct {
              width: 90%;
              margin-top: 30px;

              @media all and (max-width: 952px) {
                margin-bottom: 30px;
              }

              .name_project {
                font-family: "Bricolage Grotesque";
                font-weight: bold;
                font-size: 22px;
                text-align: left;
                color: var(--text);
              }

              .date_project {
                font-family: "Bricolage Grotesque";
                font-weight: normal;
                font-size: 20px;
                text-align: left;
                color: var(--text);
                opacity: 0.9;
                margin-top: 10px;
                margin-bottom: 10px;

                @media all and (max-width: 452px) {
                  font-size: 1em;
                  font-family: "Bricolage Grotesque";
                }
              }

              .desc_project {
                font-family: "Bricolage Grotesque";
                font-weight: 300;
                font-size: 20px;
                text-align: left;
                color: var(--text);
                opacity: 0.9;

                @media all and (max-width: 1543px) {
                  font-size: 1.2em;
                }

                @media all and (max-width: 512px) {
                  font-size: 1em;
                  font-family: "Bricolage Grotesque";
                }
                @media all and (max-width: 452px) {
                  font-size: 0.9em;
                  font-family: "Bricolage Grotesque";
                }

                .stack_project {
                  margin-top: 20px;
                  .stack {
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 20px;
                    color: var(--fond);
                    background: var(--text);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    margin-bottom: 7px;
                    @media all and (max-width: 452px) {
                      font-size: 0.9em;
                      font-family: "Bricolage Grotesque";
                    }
                  }
                }
              }
            }
          }

          .link_project {
            display: flex;
            justify-content: center;
            cursor: pointer;
            align-items: center;
            width: 100%;
            height: 17%;
            margin-top: 10px;
            border-radius: 12px;
            font-size: 20px;

            /* Note: currently only Safari supports backdrop-filter */
            // backdrop-filter: blur(30px);
            // --webkit-backdrop-filter: blur(30px);
            color: var(--text);
            background: var(--fond);
            /* (plus shape's fill blended on top as a separate layer with 61% opacity) */
            @media all and (max-width: 1543px) {
              font-size: 1.2em;
            }

            @media all and (max-width: 952px) {
              padding-top: 20px;
              padding-bottom: 20px;
            }

            @media all and (max-width: 512px) {
              font-size: 1em;
              font-family: "Bricolage Grotesque";
            }

            .ico {
              display: inline-block;
              margin-right: 20px;
            }
          }
        }

        transition: background-size 1s;

        &:hover {
          opacity: 1;

          transition: 2s;

          .project_struct {

            .desc{
              opacity: 0;
              transition: 0.3s;
              transform: translateY(-110%);
            }

           
          }
        }
      }
    }
  }
}

.group_experience {
  .left {
    width: 50%;
    @media all and (max-width: 1074px) {
      width: 100%;
    }
  }

  .group_experience_detail {
    display: block;
    margin-top: 25px;
    font-size: 0.2em;
    font-family: "Bricolage Grotesque";
    font-weight: 400;
    width: 80%;

    @media all and (max-width: 1417px) {
      font-size: 1rem;
    }

    @media all and (max-width: 1074px) {
      width: 100%;
    }
    @media all and (max-width: 545px) {
      font-size: 0.85rem;
    }
  }

  .image_experience {
    width: 100%;
    @media all and (max-width: 1074px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }

    img {
      width: 100%;
      @media all and (max-width: 1074px) {
        width: 60%;
      }
      @media all and (max-width: 545px) {
        width: 100%;
      }
    }
  }

  .btn_cv_download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 362px;
    height: 93px;
    border-radius: 10px;
    background: var(--fond);
    box-shadow: -4px 4px 1px var(--text);
    border: 1px solid var(--text);
    color: var(--text);
    font-size: 0.35em;
    font-family: "Bricolage Grotesque";
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
    box-shadow: -4px 4px 1px var(--text);
    &:hover {
      background: var(--text);
      color: var(--fond);
      box-shadow: -4px 4px 1px var(--fond);
      border: 1px solid var(--fond);
      transition: 0.3s;
    }

    @media all and (max-width: 1417px) {
      width: 262px;
      height: 73px;
      font-size: 1rem;
    }
    @media all and (max-width: 545px) {
      width: 100%;
      height: 73px;
      font-size: 1.1rem;
    }
  }

  .container_experience {
    display: block;
    width: 100%;
    margin-top: 80px;
    .experience_item {
      text-transform: uppercase !important;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      border-top: 2px solid #{"rgba(var(--text_rgb), .5)"};

      padding-top: 20px;
      padding-bottom: 20px;
      color: var(--text);
      &:last-child {
        border-bottom: 2px solid #{"rgba(var(--text_rgb), .5)"};
      }

      @media all and (max-width: 366px) {
        flex-direction: column;
        align-items: center;
      }

      .enterprise {
        text-align: left;
        font-family: Bricolage Grotesque;
        @media all and (max-width: 366px) {
          text-align: center;
          width: 100%;
        }
      }

      .experience_detail {
        text-align: right;
        @media all and (max-width: 366px) {
          text-align: center;
          width: 100%;
        }
      }

      .experience_detail_little {
        font-family: Roboto;
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 0em;
        line-height: 42px;
        font-style: oblique;

        @media all and (max-width: 1000px) {
          font-size: 1em;
        }

        @media all and (max-width: 500px) {
          line-height: normal;
        }
      }

      .experience_detail_big {
        font-family: "Bricolage Grotesque";
        font-weight: 600;
        font-size: 45px;
        letter-spacing: 0em;
        // line-height: 98px;

        @media all and (max-width: 1000px) {
          font-size: 1.5em;
        }
        @media all and (max-width: 660px) {
          font-size: 1.2em;
        }
      }

      .poste {
        font-family: Roboto;
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 0em;
        line-height: 40px;
        @media all and (max-width: 1000px) {
          font-size: 1em;
          line-height: normal;
          // br{
          //   display: none;
          // }
        }
        @media all and (max-width: 660px) {
          font-size: 0.8em;
        }
        @media all and (max-width: 500px) {
          font-size: 14px;
          margin-top: 4px;
          line-height: 17px;

          font-weight: normal;
        }
      }

      .date {
        margin-bottom: 30px;
        @media all and (max-width: 1000px) {
          margin-bottom: 8px;
        }
      }

      .hours {
        @media all and (max-width: 500px) {
          font-size: 12px;
          font-weight: 600;
        }
        @media all and (max-width: 366px) {
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

.groupcontact {
  .groupcontact_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text);
    .small {
      font-family: Roboto;
      font-weight: normal;
      font-size: 25px;
      letter-spacing: 0em;
      text-align: left;
      font-family: Bricolage Grotesque;
      font-size: 2em;
      margin-bottom: 10px;
      @media all and (max-width: 1243px) {
        font-size: 1.5em;
      }

      @media all and (max-width: 660px) {
        font-size: 1em;
      }
    }

    .titre {
      width: 60%;
      text-align: center;
      font-family: "Bricolage Grotesque";
      font-size: 4em;

      @media all and (max-width: 1243px) {
        font-size: 3em;
        width: 100%;
      }
      @media all and (max-width: 660px) {
        font-size: 2.5em;
      }
      @media all and (max-width: 500px) {
        font-size: 1.5em;
      }
    }
  }

  .contain_contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;

    @media all and (max-width: 500px) {
      margin-top: 30px;
    }

    .contain_item {
      width: 45%;
      text-align: left;
      font-family: "Bricolage Grotesque";

      font-weight: 300;
      font-size: 2em;
      letter-spacing: 0em;
      text-align: left;
      color: var(--text);

      @media all and (max-width: 1243px) {
        font-size: 1.7em;
        width: 100%;
      }
      @media all and (max-width: 660px) {
        font-size: 1.4em;
      }
      @media all and (max-width: 639px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media all and (max-width: 500px) {
        font-size: 1em;
      }

      &:last-child {
        text-align: right;
      }

      div {
        margin-bottom: 10px;
        text-transform: lowercase;
        @media all and (max-width: 500px) {
          margin-bottom: 5px;
        }
      }
    }
  }

  .contain_contact_center {
    justify-content: center;
    .contain_item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      div {
        display: inline-block;
        
        text-align: center;
   
      }
      a{
        display: block;
        text-transform: lowercase;
        margin-bottom: 10px;
      }
    }
  }

  .contain_contact2 {
    margin-top: 60px;

    // &:last-child {
    //   display: flex;
    //   // justify-content:end;
    // }

    .contain_item {
      img {
        width: 50%;
        @media all and (max-width: 639px) {
          width: 80%;
        }
      }

      &:last-child {
        @media all and (max-width: 639px) {
          display: none;
        }
      }

      .experience_text {
        font-family: "Bricolage Grotesque";
        font-weight: 600;
        font-size: 2.5em;
        letter-spacing: 0em;
        text-align: right;
        color: var(--text);
        text-transform: unset;

        @media all and (max-width: 1417px) {
          font-size: 1.5em;
        }

        @media all and (max-width: 545px) {
          font-size: 0.8em;
        }

        .btn {
          display: inline-flex;
          font-size: initial;
          transform: translateY(-30%);
          margin-top: 20px;
          .btn_ic {
            display: inline-flex;
          }
        }
      }
    }
  }

  .menu_footer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--text);
    color: var(--text);

    @media all and (max-width: 943px) {
      font-size: 0.8em;
    }

    @media all and (max-width: 800px) {
      flex-direction: column;
      font-size: 1.2em;
      padding-bottom: 10px;
    }
    @media all and (max-width: 360px) {
      font-size: 0.8em;
    }

    &__contain {
      display: flex;
      width: 33%;
      justify-content: space-between;
      @media all and (max-width: 800px) {
        width: 100%;
        justify-content: center;
      }

      &__item {
        text-transform: uppercase;
        @media all and (max-width: 943px) {
          font-size: 0.8em;
        }
        @media all and (max-width: 800px) {
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .menu_footer__contain--sign {
      justify-content: center;
      align-items: center;
    }

    @media all and (max-width: 800px) {
      .menu_footer__contain--sign {
        order: 3;
      }
    }
  }
}

footer {
  display: block;
  width: 100%;
  position: relative;
  .banderol_footer {
    display: block;
 
    overflow: hidden;
    width: max-content;
   
    .text {
      font-family: "Bricolage Grotesque";
      margin-top: 0px;
      font-weight: 600;
      font-size: 112px;
      letter-spacing: 0em;
      text-align: left;
      word-break: keep-all;
      color: var(--text);
      // text-transform: uppercase;
      animation: scrollLeft 100s linear infinite;
      white-space:nowrap;
     
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media all and (max-width: 1000px) {
       font-size: 3em;
      }


      span {
        
        &:nth-child(2n) {
   
          color: transparent;
          -webkit-text-stroke-color: var(--text);
          -webkit-text-stroke-width: 1px;
          -moz-text-stroke-color: var(--text);
          -moz-text-stroke-width: 1px;
          -o-text-stroke-color: var(--text);
          -o-text-stroke-width: 1px;
          -ms-text-stroke-color: var(--text);
          -ms-text-stroke-width: 1px;

          opacity: 0.5;
        }
      }

      @media all and (max-width: 800px) {
        margin-top: 0px;
      }
    }
  }

  .banderol_footer_stack{
    .text {
     
      margin-top: 20px;
      animation: scrollRight 25s linear infinite;


      @media all and (max-width: 1000px) {
       font-size: 3em;
      }


      span {
        
        &:nth-child(2n) {
          
          color: transparent;
          -webkit-text-stroke-color: var(--text);
          -webkit-text-stroke-width: 1px;
          -moz-text-stroke-color: var(--text);
          -moz-text-stroke-width: 1px;
          -o-text-stroke-color: var(--text);
          -o-text-stroke-width: 1px;
          -ms-text-stroke-color: var(--text);
          -ms-text-stroke-width: 1px;

          opacity: 0.5;
        }
      }

      @media all and (max-width: 800px) {
        margin-top: 10px;
      }
    }

  
  }

}


