.light {
  --text: #16161d;
  --text_rgb: 22, 22, 29;
  --fond: #fcfaf9;
  --fond_rgb: 252, 250, 249;

  * {
    mix-blend-mode: normal !important;
  }
  div {
    mix-blend-mode: normal !important;
  }
  img {
    mix-blend-mode: normal !important;
  }

  .moving_shape {
    opacity: 0.1;
  }

  .no_light {
    display: none;
  }
}

.dark {
  --text: #fcfaf9;
  --text_rgb: 252, 250, 249;
  --fond: #16161d;
  --fond_rgb: 22, 22, 29;
  .no_dark {
    display: none;
  }
}

$struct: 90%;

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 0px;

  @media all and (max-width: 503px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__struct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $struct;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      @media all and (max-width: 1074px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .left {
      }

      .experience {
        display: block;
        .t1 {
          font-family: "italia";
          font-weight: 600;
          font-size: 112px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--text);
          @media all and (max-width: 1417px) {
            font-size: 3.5em;
          }
          @media all and (max-width: 545px) {
            font-size: 3em;
          }
        }

        .t2 {
          font-family: Roboto;
          font-weight: 300;
          font-size: 49px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--text);
          @media all and (max-width: 545px) {
            font-size: 2.5em;
          }
        }
      }

      .right {
        text-align: left;
        width: 40%;

        @media all and (max-width: 1074px) {
          margin-top: 50px;
          width: 100%;
        }

        @media all and (max-width: 545px) {
          margin-top: 30px;
        }
      }

      .experience_text {
        font-family: "italia";
        font-weight: 600;
        font-size: 80px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text);

        @media all and (max-width: 1417px) {
          font-size: 3.5em;
        }

        @media all and (max-width: 545px) {
          font-size: 2.5em;
        }

        .btn {
          display: inline-flex;
          font-size: initial;
          transform: translateY(-30%);
          margin-top: 20px;
          .btn_ic {
            display: inline-flex;
          }
        }
      }
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 50px;

      @media all and (max-width: 503px) {
        margin-top: 50px;
      }

      .project {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 32%;
        height: 550px;
        background-size: cover;
        // background-size: 200%;
        background-origin: content-box;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 30px;
        filter: saturate(100%);
        @media all and (max-width: 1417px) {
          width: 48%;
        }

        @media all and (max-width: 952px) {
          width: 100%;
          height: auto;
        }

        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        .project_struct {
          height: 95%;
          width: 95%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          align-content: space-between;

          transform: translateY(110%);
          transition: 0.3s;
          opacity: 0;

          @media all and (max-width: 952px) {
            padding-top: 20px;
            padding-bottom: 20px;
          }

          @media all and (max-width: 503px) {
            padding-top: 10px;
            padding-bottom: 10px;
          }

          .desc {
            width: calc(100%);
            height: 88%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            border-radius: 12px;
            // background: transparent;
            /* Note: currently only Safari supports backdrop-filter */
            // backdrop-filter: blur(8px);
            // --webkit-backdrop-filter: blur(8px);

            background: #{"rgba(var(--fond_rgb), 1)"};
            /* (plus shape's fill blended on top as a separate layer with 61% opacity) */

            .des_struct {
              width: 90%;
              margin-top: 30px;

              @media all and (max-width: 952px) {
                margin-bottom: 30px;
              }

              .name_project {
                font-family: "Segoe UI";
                font-weight: bold;
                font-size: 22px;
                text-align: left;
                color: var(--text);
              }

              .date_project {
                font-family: "Segoe UI";
                font-weight: normal;
                font-size: 20px;
                text-align: left;
                color: var(--text);
                opacity: 0.9;
                margin-top: 10px;
                margin-bottom: 10px;

                @media all and (max-width: 452px) {
                  font-size: 1em;
                  font-family: "Poppins";
                }
              }

              .desc_project {
                font-family: "Segoe UI";
                font-weight: 300;
                font-size: 20px;
                text-align: left;
                color: var(--text);
                opacity: 0.9;

                @media all and (max-width: 1543px) {
                  font-size: 1.2em;
                }

                @media all and (max-width: 512px) {
                  font-size: 1em;
                  font-family: "Poppins";
                }
                @media all and (max-width: 452px) {
                  font-size: 0.9em;
                  font-family: "Poppins";
                }

                .stack_project {
                  margin-top: 20px;
                  .stack {
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 20px;
                    color: var(--fond);
                    background: var(--text);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    margin-bottom: 7px;
                    @media all and (max-width: 452px) {
                      font-size: 0.9em;
                      font-family: "Poppins";
                    }
                  }
                }
              }
            }
          }

          .link_project {
            display: flex;
            justify-content: center;
            cursor: pointer;
            align-items: center;
            width: 100%;
            height: 17%;
            margin-top: 10px;
            border-radius: 12px;
            font-size: 20px;

            /* Note: currently only Safari supports backdrop-filter */
            // backdrop-filter: blur(30px);
            // --webkit-backdrop-filter: blur(30px);
            color: var(--text);
            background: var(--fond);
            /* (plus shape's fill blended on top as a separate layer with 61% opacity) */
            @media all and (max-width: 1543px) {
              font-size: 1.2em;
            }

            @media all and (max-width: 952px) {
              padding-top: 20px;
              padding-bottom: 20px;
            }

            @media all and (max-width: 512px) {
              font-size: 1em;
              font-family: "Poppins";
            }

            .ico {
              display: inline-block;
              margin-right: 20px;
            }
          }
        }

        transition: background-size 1s;

        &:hover {
          opacity: 1;

          transition: 2s;

          .project_struct {
            opacity: 1;
            transition: 0.3s;
            transform: translateX(0%);
          }
        }
      }
    }
  }
}

.group_experience {
  .left {
    width: 50%;
  }

  .group_experience_detail {
    display: block;
    margin-top: 25px;
    font-size: 0.2em;
    font-family: "Poppins";
    font-weight: 400;
    width: 80%;
  }

  .btn_cv_download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 362px;
    height: 93px;
    border-radius: 10px;
    background: var(--fond);
    box-shadow: -4px 4px 1px var(--text);
    border: 1px solid var(--text);
    color: var(--text);
    font-size: 0.35em;
    font-family: "Poppins";
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
    box-shadow: -4px 4px 1px var(--text);
    &:hover {
      background: var(--text);
      color: var(--fond);
      box-shadow: -4px 4px 1px var(--fond);
      border: 1px solid var(--fond);
      transition: 0.3s;
    }
  }

  .container_experience {
    display: block;
    width: 100%;
    margin-top: 80px;
    .experience_item {
      
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      border-top: 2px solid #{'rgba(var(--text_rgb), .5)'};
   
      padding-top: 20px;
      padding-bottom: 20px;
      color: var(--text);
      &:last-child{
        border-bottom: 2px solid #{'rgba(var(--text_rgb), .5)'};
      }

     

      .enterprise{
        text-align: left;
      }

      .experience_detail{
        text-align: right;
      }

      .experience_detail_little {
        font-family: Roboto;
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 0em;
        line-height: 42px;
        font-style: oblique;
      
      }

      .experience_detail_big {
        font-family: "Italian Plate No1";
        font-weight: 600;
        font-size: 45px;
        letter-spacing: 0em;
        // line-height: 98px;
      
        
      }

      .poste {
        font-family: Roboto;
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 0em;
        line-height: 40px;
     
        
      }

      .date{
        margin-bottom: 30px;
      }

    }
  }
}
