// color
$theme: #fcfaf9;
$color: #16161d;
//polices
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/

.light {
  --text: #16161d;
  --fond: #fcfaf9;

  // .carousel_intro{

  //   mix-blend-mode: normal !important;
  // }

  // .header{
  //   mix-blend-mode: normal !important;
  // }
  // .banderol{
  //   mix-blend-mode: normal !important;
  // }
  // .bar_outils{
  //   mix-blend-mode: normal !important;
  // }

  * {
    mix-blend-mode: normal !important;
  }

  .moving_shape {
    opacity: 0.1;
  }

  .no_light {
    display: none;
  }
}

.dark {
  --text: #fcfaf9;
  --fond: #16161d;

  .no_dark {
    display: none;
  }
}

.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--fond);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  cursor: crosshair;
  @media all and (min-width: 2000px) {
    width: 1800px;
  }
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--fond);
  color: var(--text);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1900000;
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 0px;
  font-size: 6vw;
  span{
    font-size: 3em;
  }
}


* {
  outline: none;
  scroll-behavior: smooth;
}

// scroll bar

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

//link init
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  :hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

$struct: 90%;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 0;
  z-index: 999;
  mix-blend-mode: difference;
  @media all and (max-width: 1000px) {
    top: 10px;
  }

  .struct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $struct;

    .logo {
      display: inline-block;
      height: 38px;
      @media all and (max-width: 1000px) {
        height: 30px;
      }
      img {
        height: 100%;
      }
    }

    nav {
      display: block;
      @media all and (max-width: 1000px) {
        display: none;
      }
      ul {
        list-style-type: none;
        li {
          &:hover {
            cursor: pointer;
          }
          display: inline-block;
          margin-left: 20px;
          font-size: 1.1em;
        }
      }
    }
  }
}

.banderol {
  display: flex;
  justify-content: center;
  // mix-blend-mode:hard-light;
  width: 15em;
  height: 100vh;
  background: var(--text);
  mix-blend-mode: difference;
  position: absolute;
  top: 0px;
  right: 20%;
  color: var(--fond);
  overflow: hidden;

  @media all and (max-width: 1696px) {
    width: 7.5em;
    right: 17%;
  }

  @media all and (max-width: 1590px) {
    display: none;
    visibility: hidden;
  }

  .text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 0;
    // height: max-content;

    // text-overflow:ellipsis;
    // overflow: hidden;
    transition: all 1s ease;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    height: auto;

    span {
      display: inline-block;
      margin-top: 50px;
    }
  }

  .text1 {
    font-size: 8em;
    line-height: 1em;
    font-weight: 900;
    animation: swipeUp 13s linear infinite;
    text-transform: uppercase;
    left: 7%;

    @media all and (max-width: 1696px) {
      font-size: 4em;
      line-height: 0.9em;
    }
  }
  .text2 {
    font-size: 4em;
    line-height: 1em;
    font-weight: 100;
    animation: swipeDown 17s linear infinite;
    right: 10%;
    @media all and (max-width: 1696px) {
      font-size: 2em;
      line-height: 1.1em;
      font-weight: 300;
      letter-spacing: 13px;
    }
  }
}

.carousel {
  display: flex;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .struct {
    display: flex;
    align-items: flex-end;
    width: $struct;
    height: 100%;
    justify-content: left;
    position: relative;

    @media all and (max-width: 1590px) {
      justify-content: center;

      align-items: center;
    }

    .carousel_intro {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 40%;
      mix-blend-mode: difference;
      @media all and (max-width: 1696px) {
        width: 45%;
      }
      @media all and (max-width: 1590px) {
        width: 100%;
      }

      transform: translateY(-50%);
      // border:  1px solid;
      @media all and (max-width: 1590px) {
        transform: translateY(0%);
      }
      .text_big {
        font-family: "Poppins";
        font-weight: 200;
        text-transform: capitalize;
        font-size: 4em;
        // font-size: clamp(1rem, 2.5vw, 25rem);
        letter-spacing: 0em;
        text-align: right;
        color: var(--text);

        @media all and (max-width: 1784px) {
          font-size: 3.5em;
          text-align: left;
        }
        // @media all and (max-width: 1696px) {
        //   font-size: 4em;
        //   text-align: left;
        // }

        @media all and (max-width: 1590px) {
          text-align: center;
          width: 100%;
          font-size: 4.5em;
        }

        @media all and (max-width: 1274px) {
          font-size: 3.5em;
        }

        @media all and (max-width: 1000px) {
          font-size: 3em;
        }

        @media all and (max-width: 758px) {
          margin-bottom: 200px;
        }

        @media all and (max-width: 543px) {
          font-size: 2.3em;
        }

        @media all and (max-width: 411px) {
          font-size: 2em;
        }
        @media all and (max-width: 360px) {
          font-size: 1.7em;
        }
      }

      .carousel_intro_desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 100px;
        text-align: left;
        @media all and (max-width: 758px) {
          display: none;
        }
        .text {
          width: 285px;
          margin-bottom: 8px;
          font-family: Roboto;
          font-weight: 300;
          font-size: 1.3em;
          letter-spacing: 0em;
          text-align: left;
          color: var(--text);
        }
      }
    }

    .carousel_image {
      display: block;
      width: 25%;
      filter: grayscale(100%);
      @media all and (max-width: 1696px) {
        width: 33%;
      }

      @media all and (max-width: 1590px) {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
      }
      @media all and (max-width: 1274px) {
        width: 300px;
      }

      @media all and (max-width: 427px) {
        width: 80%;
      }

      img {
        width: 100%;
      }
    }

    .bar_outils {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      mix-blend-mode: difference;
      .socials_icons {
        width: 10%;
        display: flex;
        justify-content: space-between;
        // mix-blend-mode: difference;
        @media all and (max-width: 1968px) {
          width: 180px;
        }
        @media all and (max-width: 1590px) {
          width: 150px;
        }
        @media all and (max-width: 758px) {
          width: 100px;
        }

        .icon {
          cursor: pointer;
          width: 20%;
          @media all and (max-width: 1968px) {
            width: 40px;
          }
          @media all and (max-width: 1590px) {
            width: 35px;
          }

          @media all and (max-width: 758px) {
            width: 25px;
          }

          filter: drop-shadow(0 0mm 0mm var(--text));
          transition: 0.4s;
          &:hover {
            filter: drop-shadow(0 4mm 2mm var(--text));
            transition: 0.4s;
          }

          img {
            width: 90%;
          }
        }
      }
    }
  }
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes swipe {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-55px, 55px);
  }
}

@keyframes swipeUp {
  // 0%{transform: translateY(0%);}
  // 100%{transform: translateY(100%);}

  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes swipeDown {
  // 0%{transform: translateY(0%);}
  // 100%{transform: translateY(100%);}

  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.1em;
  .txt {
    font-size: 0.8em;
    height: 35px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text);
    border-radius: 44px;
    display: flex;
    justify-content: center;

    @media all and (max-width: 1000px) {
      font-size: 0.6em;
      height: 30px;
    }
  }

  .btn_ic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid var(--text);
    color: var(--fond);
    margin-left: 5px;
    overflow: hidden;

    @media all and (max-width: 1000px) {
      height: 30px;
      width: 30px;
    }

    img {
      height: 15px;
      @media all and (max-width: 1000px) {
        height: 12px;
      }
    }
  }

  &:hover {
    img {
      animation: swipe 0.38s ease 1;
    }
  }
}

.toggle_theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 47px;
  border-radius: 15px;
  background: var(--text);
  &:hover {
    cursor: pointer;
  }
  // mix-blend-mode: difference;
  @media all and (max-width: 1024px) {
    height: 37px;
    width: 70px;
  }
  @media all and (max-width: 758px) {
    height: 34px;
  }

  &__struct {
    display: flex;
    width: 86%;
    justify-content: center;
    align-items: center;
    height: 89%;
    transform: translateX(2px);
    border-radius: 14px;
    background: var(--fond);

    .theme_btn {
      height: 85%;
      width: 40%;
      border-radius: 10px;
      background: var(--fond);
      color: var(--text);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      @media all and (max-width: 758px) {
        font-size: 0.75em;
      }
      img {
        width: 50%;
      }
    }

    .active {
      transition: 0.3s;
      width: 50%;
      background: var(--text);
      color: var(--fond);
      img {
        width: 60%;
      }
    }
  }
}

.moving_shape {
  position: absolute;
  width: 50vw;
  height: 80vh;
  opacity: 1;
  border: 0px solid rgba(255, 255, 255, 0.808);
  //  background: linear-gradient(270deg,#845ec2,#d65db1,#ff6f91,#ff9671, #ffc75f, #f9f871);
  background-color: var(--text);
  background-repeat: repeat;
  background-size: auto auto;
  // background-image: url(https://media.licdn.com/media/AAYQAgTPAAgAAQAAAAAAADVuOvKzTF-3RD6j-qFPqhubBQ.png);
  // background-color: #ffd800;
  // background-size: 1000%;
  background-repeat: no-repeat;

  color: #fff;
  animation: bg-move 30s ease infinite forwards,
    border-move 25s ease infinite forwards;
}

@keyframes bg-move {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

@keyframes border-move {
  0% {
    border-radius: 51% 49% 34% 66% / 39% 66% 34% 61%;
  }
  10% {
    border-radius: 39% 61% 38% 62% / 53% 54% 46% 47%;
  }
  20% {
    border-radius: 56% 44% 52% 48% / 57% 35% 65% 43%;
  }
  30% {
    border-radius: 41% 59% 45% 55% / 33% 56% 44% 67%;
  }
  40% {
    border-radius: 46% 54% 60% 40% / 55% 74% 26% 45%;
  }
  50% {
    border-radius: 44% 56% 22% 78% / 31% 74% 26% 69%;
  }
  60% {
    border-radius: 31% 69% 32% 68% / 31% 71% 29% 69%;
  }
  70% {
    border-radius: 44% 56% 60% 40% / 63% 36% 64% 37%;
  }
  80% {
    border-radius: 46% 54% 38% 62% / 44% 48% 52% 56%;
  }
  90% {
    border-radius: 66% 34% 57% 43% / 49% 51% 49% 51%;
  }
  100% {
    border-radius: 51% 49% 34% 66% / 39% 66% 34% 61%;
  }
}

/* ------------------------- Grain -------------------------------------------------- */
.noise {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  position: fixed;
  pointer-events: none;
}
.noise:before {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 2000;
  content: "";
  position: absolute;
  pointer-events: none;
  background-position: 50%;
  background-image: url("../images/noise.png");
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}
@media all and (max-width: 700px) {
  .noise {
    display: none !important;
  }
}
@-webkit-keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}

.lottie_bird {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-115%);
  width: 20%;

  @media all and (max-width: 775px) {
    width: 40%;
  }
  @media all and (max-width: 500px) {
    width: 55%;
  }

  height: auto;
  z-index: 500000;
  filter: grayscale(100%);
  mix-blend-mode: difference;
}

.bird_back {

  transform: translateX(-50%) translateY(-115%) scaleX(-1);
}

